.fantasy_page {
  background: lightgray;
  width: 100%;
  height: 100vh;
  top: 0px;
  color: black;
  text-align: center;
}

.dd_title {
  text-align: center;
}

.trade_input_box {
  color: black;
  width: 65%;
  border-radius: 30px;
  padding-top: 23px;
  padding-bottom: 7px;
  background-color: white;
  margin: auto;
  box-shadow: 0px 5px 10px 2px rgb(74 74 74 / 25%);
}

.hide {
  display: none;
}

.submit_trade_button {
  margin: 20px;
}
