@font-face {
  font-family: 'Reedo';
  src: local('Reedo'),
    url(../../../styles/fonts/reedoRegular.woff) format('woff');
}

@font-face {
  font-family: 'Reedo';
  src: local('Reedo'), url(../../../styles/fonts/reedoBold.woff) format('woff');
}

.content_box {
  display: flex;
  flex-direction: row;
  /* margin: auto; */
  /* width: 80%; */
  align-content: space-between;
  justify-content: space-between;
}

.teams_header {
  text-align: center;
  color: #ba0c2f;
  margin-bottom: 5px;
  font-family: 'Reedo';
}

.close_button {
  cursor: pointer;
  float: right;
  transform: translate(-16px, -9px);
  padding: 0px 11px;
  color: black;
  box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 10%);
  font-size: 15px;
}

.close_button:hover {
  background-color: darkgray;
}

.hidden {
  display: none;
}
